@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 35px;
    ;

}

.img a img {
    width: 150px;
}

.conheca {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 20px;
}

.manTransference {
    height: 60rem;
    width: 36rem;
}

.manInvestiment {
    height: 50rem;
    width: 37rem
}

.PixGirl {
    height: 45rem;
    width: 34rem;
    margin-left: 20rem;
}

.CardGirl {
    height: 48rem;
    width: 34rem;
    margin-left: 21rem;
}

.Shirohige {
    height: 100vh;
    /* width: 36rem; */
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    margin-top: 100px;
}


.iconCoin {
    margin-left: 4rem;
}

.fundo {
    background: url('./assets/mihawk.png') no-repeat;
    width: 100%;
    height: 80vh;
    background-position: right bottom;
    background-size: 50rem 40rem;
}

.fundo2 {
    background: url('./assets/jozu.png') no-repeat;
    width: 100%;
    height: 80vh;
    background-position: right bottom;
    background-size: 50rem 40rem;
}

.container {
    width: 1280px;
    height: 50vh;
    margin: 0 auto;
}