@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 35px;;
    
}

.img a img {
    width: 150px;
}

.conheca{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 20px;
}

.manTransference{
    height: 60rem;
    width: 36rem;
}

.manInvestiment{
    height: 50rem;
    width: 37rem
}

.PixGirl{
    height: 45rem;
    width: 34rem;
    margin-left: 20rem;
}